<script type='text/javascript'>
 $(function() {
  Dashing.gridsterLayout('[{"col":2,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":6,"row":3,"size_x":1,"size_y":1},{"col":6,"row":2,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":2,"size_y":1},{"col":5,"row":1,"size_x":1,"size_y":1},{"col":6,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":2,"size_y":1},{"col":2,"row":3,"size_x":2,"size_y":1},{"col":2,"row":2,"size_x":2,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":3}]')
   Dashing.widget_base_dimensions = [316, 354]
   Dashing.numColumns = 6
   });
 </script>
 </script>
<% content_for :title do %>Demo Dashboard<% end %>
<div class="gridster">
  <ul>

  <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="Seattle" data-view="Worldclock" data-timezone="America/Los_Angeles" data-title="Seattle"></div>
</li>
<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
<div data-id="New_York" data-view="Worldclock" data-timezone="America/New_York" data-title="New York" data-moreinfo="https://binged.it/3aL9r4l"></div>
</li>
<li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
<div data-id="Tokyo" data-view="Worldclock" data-timezone="Asia/Tokyo" data-title="Tokyo"></div>
</li>
<li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
<div data-id="Bejing" data-view="Worldclock" data-timezone="Asia/Shanghai" data-title="Bejing"></div>
</li>
<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
  <div data-id="news" data-view="News"></div>
</li>
<li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
<div data-id="Berlin" data-view="Worldclock" data-timezone="Europe/Berlin" data-title="Berlin"></div>
</li>
<li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
<div data-id="Kolkata" data-view="Worldclock" data-timezone="Asia/Kolkata" data-title="Kolkata"></div>
</li>
<li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
<div data-id="Chicago" data-view="Worldclock" data-timezone="America/Chicago" data-title="Chicago"></div>
</li>
<li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
<div data-id="iframeId1" data-view="Iframe" data-src="https://www.youtube-nocookie.com/embed/86YLFOog4GM?rel=0"></div>
</li>
<li data-row="3" data-col="4" data-sizex="2" data-sizey="1">
  <div data-id="airnow" data-view="Airnow"></div>
</li>
<li data-row="3" data-col="5" data-sizex="2" data-sizey="1">
<div data-id="iframe2" data-view="Iframe" data-src="https://radar.weather.gov/?settings=v1_eyJhZ2VuZGEiOnsiaWQiOiJ3ZWF0aGVyIiwiY2VudGVyIjpbLTEyMi4zMzMsNDcuNjA2XSwibG9jYXRpb24iOlstMTIyLjMyOSw0Ny42MDRdLCJ6b29tIjo3fSwiYW5pbWF0aW5nIjpmYWxzZSwiYmFzZSI6InNhdGVsbGl0ZSIsImFydGNjIjp0cnVlLCJjb3VudHkiOnRydWUsImN3YSI6dHJ1ZSwicmZjIjpmYWxzZSwic3RhdGUiOnRydWUsIm1lbnUiOnRydWUsInNob3J0RnVzZWRPbmx5IjpmYWxzZSwib3BhY2l0eSI6eyJhbGVydHMiOjAuOCwibG9jYWwiOjAuNiwibG9jYWxTdGF0aW9ucyI6MC44LCJuYXRpb25hbCI6MC42fX0%3D#/"></div>
</li>
<li data-row="3" data-col="6" data-sizex="1" data-sizey="3">
  <div data-id="a_timeline" data-view="Timeline" data-title="Timeline"></div>
</li>
  </ul>
 
</div>
